<mat-grid-list cols="3" >
    <mat-grid-tile *ngFor="let item of users">
        <mat-card class="example-card"  >
            <mat-card-header>
                <mat-card-title class="tr">Nombre: {{item.nombre}}</mat-card-title>
            </mat-card-header><br>
            <mat-card-content>
                <mat-card-title class="title">ID: {{item.id}}</mat-card-title><br>
                <mat-card-title class="title">Email: {{item.email}}</mat-card-title><br>
                <mat-card-title class="title">Status: {{item.status}}</mat-card-title><br>
            </mat-card-content>
            <mat-card-actions >
              <button mat-button class="btn" routerLink="update">UPDATE</button>
              <button mat-button class="status">STATUS</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>












  