<mat-card class="example-card">
    <img mat-card-image class="img" src="assets/triste.png" alt=""><br>
    <mat-card-content>
        <mat-card-title class="tr">404 PAGE NOT FOUND</mat-card-title>
    </mat-card-content>
</mat-card>
          
          <!-- <div class="card">
                <div class="card-body">
                    <img src="assets/triste.png" width="350" height="350" alt=""><br>
                    <h1 style="font-size: 80px;" class="align-center">404 PAGE NOT FOUND</h1>
                </div>
            </div> -->
  
