<div class="main-div">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="text">Sing Up<mat-icon mat-list-icon class="tamaño">start</mat-icon></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form"[formGroup]="form" autocomplete="off">
              <mat-form-field class="example-full-width1" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="nombre" placeholder="Name">
                <mat-error *ngIf="hasError('nombre', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('nombre', 'minlength')">You have more than 5 characters</mat-error>
              </mat-form-field>
              <br>
                <mat-form-field class="example-full-width1" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                  <mat-error *ngIf="hasError('email', 'email')">Email Not Valid</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                    <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                    <mat-error *ngIf="hasError('password', 'minlength')">You need more than 8 charactersd</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <br>
                  <button mat-button class="color" (click)="send()">Register</button>
                  <br><br>
                  <button mat-button class="r" routerLink="/auth/login">You Already Have an Acoount?</button>
                  <br>
              </form>
              
            </mat-card-content>
    </mat-card>
    </div>