
<mat-card>
    <mat-card-header class="a">
        <mat-card-title class="t">Name: {{data.nombre}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="al">
        <mat-card-title  class="tu">Icon:<mat-icon>{{data.icono}}</mat-icon> {{data.icono}}</mat-card-title>
        <mat-card-title  class="tu">Level: {{data.nivel}}</mat-card-title>
        <mat-card-title  class="tu">Category: {{data.categoria.nombre}}</mat-card-title>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
        <button mat-button style="background-color: brown; color:white;" (click)="closeDialog()">Cancel</button>
    </mat-card-actions>
  </mat-card>