<mat-sidenav-container autosize>

    <mat-sidenav #sidenav mode="side" opened="true">

        <mat-nav-list >

            <mat-list-item>
                <mat-icon mat-list-icon (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}" class="chevron-button sidenav-button">chevron_right</mat-icon>
            </mat-list-item>
            
            <mat-list-item *ngFor="let categoria of categoria">
            <mat-icon mat-list-icon (click)="isExpanded = !isExpanded">{{categoria.icono!}}</mat-icon>
            <span *ngIf="isExpanded"   at-menu-item [matMenuTriggerFor]="subMenu"> {{categoria.nombre!}} 
                <mat-menu #subMenu="matMenu" >
                    <mat-list-item *ngFor="let vista of categoria.vistas!">
                    <a mat-menu-item routerLink="{{ vista.ruta }}"><mat-icon mat-list-icon>{{vista.icono!}}</mat-icon>{{vista.nombre}}</a>
                </mat-list-item>
                </mat-menu>
            </span>

            </mat-list-item>
           
        </mat-nav-list>  

    </mat-sidenav>

    <div class="content">
        <mat-toolbar>
            <H3>SideNavBar</H3>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

