.pointer{
    cursor: pointer;
    }
    table {
      width: 100%;
    }
    th{
      width: 18%;
    }
    .text{
      margin: 5px;
      font-size: 1.5em;
      color: black;
    }
    .mat-form-field {
      font-size: 15px;
    }
.search-div{
  margin: 10px;
}

.search-form-field{
  width: 85%;
  margin-left: 10px;
  padding: 5px 10px;
}