<mat-card>
  <mat-card-content>
    <img *ngIf="loading.isLoading"
    src="assets/Spinner.gif"
    alt="loading"/>
        <form class="example-form"[formGroup]="form" *ngIf="!loading.isLoading" [hidden]="!form">
          <mat-form-field class="example-full-width1" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Name">
            <mat-error *ngIf="hasError('nombre', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('nombre', 'minlength')">You have more than 5 characters</mat-error>
          </mat-form-field>
          <br>
            <mat-form-field class="example-full-width1" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
              <mat-error *ngIf="hasError('email', 'email')">Email Not Valid</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                <mat-error *ngIf="hasError('password', 'minlength')">You need more than 8 charactersd</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width1" appearance="fill">
                <mat-label>Rol</mat-label>
                <input type="text" matInput formControlName="roles_id" placeholder="UserRol">
                <mat-error *ngIf="hasError('roles_id', 'required')">Name is required</mat-error>
              </mat-form-field>
              <br>
              <button mat-button [disabled]="isDisabled" class="color" (click)="updateU()">{{actionBtn}}</button>
              <button mat-button style="background-color: brown; color:white" (click)="closeDialog()">Cancel</button>
              <br>
          </form>
        </mat-card-content>
</mat-card>